<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <context id="MysqlContext" targetRuntime="MyBatis3Simple" defaultModelType="flat">

        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>

        <plugin type="tk.mybatis.mapper.generator.MapperPlugin">
            <property name="mappers" value="com.dp.data.dao.MyMapper"/>
        </plugin>

        <commentGenerator>
            <property name="suppressDate" value="true"/>
            <!-- 是否去除自动生成的注释 true：是 ： false:否 -->
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/test?serverTimezone=UTC"
                        userId="root" password="mysqlbhn2018">
             <property name="useInformationSchema" value="true"/> 
        </jdbcConnection>


        <!-- 对于生成的entity所在包 -->
        <javaModelGenerator targetPackage="com.dp.data.entity" targetProject="src/main/java"/>

        <!-- 对于生成的mapper所在目录 -->
        <sqlMapGenerator targetPackage="datamapper" targetProject="src/main/resources/mapper"/>

        <!--
           1，ANNOTATEDMAPPER：会生成使用Mapper接口+Annotation的方式创建（SQL生成在annotation中），不会生成对应的XML；
           2，XMLMAPPER：会生成Mapper接口，接口完全依赖XML；
        -->
        <!-- 配置mapper对应的java映射 -->
        <javaClientGenerator targetPackage="com.dp.data.dao" targetProject="src/main/java"
                             type="XMLMAPPER"/>

        <table tableName="t_user"></table>
    </context>
</generatorConfiguration>